<template name="addplatform">
	<div id="content-wrapper">
	    <form  class="panel form-horizontal form-bordered">
			    <div class="panel-heading">
			        <span class="panel-title">PLATFORM_FORM</span>
			    </div>
			    <div class="panel-body" style="height: 450px">
			    	<div class="row form-group">
		                <label class="col-sm-2 control-label"></label>
			            <div class="col-sm-10" id="msg-error"></div>
			        </div>
			         <div class="row form-group">
		                <label class="col-sm-2 control-label">Description:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="desc" value="" class="form-control">
			            </div>
			        </div>
			        <div class="row form-group">
		                <label class="col-sm-2 control-label">Date From:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="d-from" value="" class="form-control d-from">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">Date To:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="d-to" value="" class="form-control d-to">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">Status:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" id="status" name="status">
			            		<option value="none">Select Status</option>
			            		<option value="active">Active</option>
			            		<option value="pandding">Pandding</option>
			            	</select>
			            </div>
			        </div>
			    </div>
		    <div class="panel-footer text-right">
		        <button class="btn btn-primary" id="btn-save">SUBMIT</button>
		    </div>
		</form>
    </div>
    <div id="main-menu-bg"></div>
</template>