<template name="adminticket">
	<div id="content-wrapper">
        <div class="panel-body">
		    <div class="row">
		    	<div class="col-md-4 pull-right">
		    		<form class="form-inline">
			    		<div class="form-group">
						  	<label for="sel1">Select Status:</label>
							<select class="form-control" id="selstatus" style="width: 236px">
							    <option>all</option>
							    <option>new</option>
							    <option>pending</option>
							    <option>ready</option>
							  </select>
						</div>
					</form>
               	</div>
		    	</div>
		        <div class="col-sm-12">
		            <div class="table-light">
		                <div class="table-header">
		                    <div class="table-caption">
		                        TICKET LIST
		                    </div>
		                <table class="table table-bordered">
		                  	<thead>
		                    <tr>
		                    	<th style="width:1%">No</th>
		                        <th>Customer Name</th>
	                            <th>Agency Name</th>
	                            <th>Product</th>
	                            <th>date</th>
	                            <th>Invoice</th>
	                            <th>Status</th>
	                            <th>action</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    	{{#each getallTicket}}
		                            <tr>
		                            	<td>{{@index}}</td>
		                                <td>{{getUsername customer}}</td>
		                                <td>{{getUsername agency}}</td>
		                                <td>{{product}}</td>
		                                <td>{{getHumanDate date}}</td>
		                                {{#if checkInvoice invoice}}
		                                <td><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open"></span></a>
		                                 <!--MODAL POPUP-->
		                                     <div class="modal fade" id="myModal" role="dialog">
		                                        <div class="modal-dialog modal-lg">
		                                          <div class="modal-content">
		                                            <div class="modal-header">
		                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
		                                              <h4 class="modal-title">YOUR INVOICE</h4>
		                                            </div>
		                                            <div class="modal-body">
		                                              <embed src="{{invoice}}" width="850px" height="2000px" />
		                                            </div>
		                                            <div class="modal-footer">
		                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                            </div>
		                                          </div>
		                                        </div>
		                                      </div>
		                                <!--END MODAL-->

		                                </td>
		                                {{else}}
		                                    <td>
		                                        <a href="#" title="No Invoice"><span class="glyphicon glyphicon-remove"></span></a>
		                                    </td>
		                                {{/if}}

		                                <td>{{status}}</td>
		                                <td>
		                                	{{#if checkStatus status}}
		                                    <a class="btn btn-xs btn-labeled btn-success" id="btnstatus" href=""><span class="glyphicon glyphicon-upload"></span>update status</a>
		                                    {{else}}
		                                     <a class="btn btn-xs btn-labeled btn-success" id="btnstatuspending" href=""><span class="glyphicon glyphicon-upload"></span>update status</a>
		                                    {{/if}}
		                                     <a class="btn btn-xs btn-labeled btn-danger" id="btnremove" href=""><span  class="glyphicon glyphicon-remove"></span>delete</a>
		                                    
		                                </td>
		                            
		                            </tr>
                            	{{/each}}
		                    </tbody>
		                </table>

		                <div class="table-footer clearfix">
		                    <div class="DT-label">
		                       <!--  <div class="dataTables_info" id="jq-datatables-example_info" role="alert" aria-live="polite"
		                             aria-relevant="all">Showing 1 to 5 of 5 entries
		                        </div> -->
		                    </div>
		                    <div class="DT-pagination">
		                        <div class="dataTables_paginate paging_simple_numbers" id="jq-datatables-example_paginate">
		                            <ul id="pagination" class="pagination pagination-sm">
		                            <!-- <li>Next</li>
		                            <li>Prev</li> -->
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>    
	</div>
    <div id="main-menu-bg"></div>
    <style type="text/css">
	  /*#pagination{
	  	float: left;
	  	text-align: right;
	  }
	  ul#pagination li{
	  	display: inline-block;
	  	padding: 4px;
	  }
	   ul#pagination li.active{
	   	background-color: #7985BA;
	   }*/
  </style>
</template>