<template name="adminticket">
	<div id="content-wrapper">
        <div class="panel-body">
		    	<div class="row">
		    		<div class="container" style="margin-top: 1%;">
						<div class="col-sm-4">     
							<div class="row" style="margin-right: 0px">
								<form role="form" id="form-buscar">
									<div class="form-group">
										<div class="input-group">
											<input id="1" class="form-control" type="text" name="search-ticketid" placeholder="Search by Ticket ID..." required/>
											<span class="input-group-btn">
												<button class="btn btn-success btn-searchid" type="submit">
													<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Browse
												</button>
											</span>
										</div>
									</div>
								</form>
							</div>            
						</div>
						<div class="col-sm-4">     
							<div class="row" style="margin-right: 0px">
								<form role="form" id="form-buscar">
									<div class="form-group">
										<div class="input-group">
											<input id="1" class="form-control" type="text" name="search-firstname" placeholder="Search by First name..." required/>
											<span class="input-group-btn">
												<button class="btn btn-success btn-searchcus" type="submit">
													<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Browse
												</button>
											</span>
										</div>
									</div>
								</form>
							</div>            
						</div>
						<div class="col-sm-4">     
							<div class="row" style="margin-right: 0px">
								<form role="form" id="form-buscar">
									<div class="form-group">
										<div class="input-group">
											<input id="1" class="form-control" type="text" name="search-lastname" placeholder="Search by Last name..." required/>
											<span class="input-group-btn">
												<button class="btn btn-success btn-searchcus" type="submit">
													<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Browse
												</button>
											</span>
										</div>
									</div>
								</form>
							</div>            
						</div>
						<div class="col-sm-4">     
							<div class="row" style="margin-right: 0px">
								<form role="form" id="form-buscar">
									<div class="form-group">
										<div class="input-group">
											<input id="1" class="form-control" type="text" name="search-agency" placeholder="Search by Travel Agency..." required/>
											<span class="input-group-btn">
												<button class="btn btn-success btn-searchagency" type="submit">
													<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Browse
												</button>
											</span>
										</div>
									</div>
								</form>
							</div>            
						</div>
						<div class="col-sm-4">     
							<div class="row" style="margin-right: 0px">
									<div class="form-group">
										<div class="input-group">
											<select class="form-control" id="usertype">
											    <option value="admin">Admin</option>
											    <option value="agency">Agency</option>
											    <option value="affiliate">Affiliate</option>
											</select>

											<span class="input-group-btn">
												<button class="btn btn-success btn-searchcus" type="submit">
													<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Filter
												</button>
											</span>
										</div>
									</div>
							</div>            
						</div>
					</div>
		    	</div>
		        <div class="col-sm-12">
		            <div class="table-light">
		                <div class="table-header">
		                    <div class="table-caption">
		                        TICKET LIST
		                    </div>
		                <table class="table table-bordered">
		                  	<thead>
		                    <tr>
		                    	<th style="width:1%">No</th>
		                    	<th>Ticket ID</th>
		                        <th>Customer Name</th>
	                            <th>Agency Name</th>
	                           <!--  <th>Upload Invoice</th> -->
	                            <th>Invoice</th>
	                            <th>Status</th>
	                            <th>Action</th>
		                    </tr>
		                    </thead>
		                    {{#each getallTicket}}
		                    	<h1>{{name}}</h1>
		                    {{/each}}
		                    <tbody>
		                    	{{#each getallTicket}}
		                            <tr>
		                            	<td>{{@index}}</td>
		                            	 <td class="info-view">{{_id}}</td>
		                                <td>{{getUsername customer}}</td>
		                                <td>{{getUsername agency}}</td>
		                                {{#if checkInvoice invoice}}
		                                <td><a href="#" class="btn btn-xs btn-labeled view-invoice">view</a>
		                              
		                                </td>
		                                {{else}}
		                                    <td>
		                                        <a href="#" title="No Invoice"><span class="glyphicon">no invoice</span></a>
		                                    </td>
		                                {{/if}}

		                                <td>
		                                	{{#if Isvalidated status}}
		                                		<a class="btn btn-xs btn-labeled btn-success btn-status1 info-view" href="#">{{status}}</a>
		                                	{{/if}}
		                                	{{#if Isnotvalidated status}}
		                                		<a class="btn btn-xs btn-labeled btn-danger btn-status1 info-view" href="#">{{status}}</a>
		                                	{{/if}}
		                                	{{#if Iswait status}}
		                                		<a class="btn btn-xs btn-labeled btn-warning btn-status1 info-view" href="#">{{status}}</a>
		                                	{{/if}}
		                                </td>
		                                <td>
		                                     <a class="btn btn-xs btn-labeled" id="btnremove" href=""><span  class="glyphicon"></span>delete</a>		                                    
		                                </td>
		                            
		                            </tr>
                            	{{/each}}
		                    </tbody>
		                </table>

		                <div class="table-footer clearfix">
		                    <div class="DT-label">
		                       <!--  <div class="dataTables_info" id="jq-datatables-example_info" role="alert" aria-live="polite"
		                             aria-relevant="all">Showing 1 to 5 of 5 entries
		                        </div> -->
		                    </div>
		                    <div class="DT-pagination">
		                        <div class="dataTables_paginate paging_simple_numbers" id="jq-datatables-example_paginate">
		                            <ul id="pagination" class="pagination pagination-sm">
		                            <!-- <li>Next</li>
		                            <li>Prev</li> -->
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>    
	</div>
    <div id="main-menu-bg"></div>
     <!--MODAL POPUP INVOICE-->
         <div class="modal fade" id="InvoiceModal" role="dialog" data-toggle="modal" data-target="#myModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">YOUR INVOICE</h4>
                </div>
                <div class="modal-body">
                  <embed src="" id="pdfview" width="850px" height="2000px" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    <!--END MODAL-->
    <!-- Modal -->
            <div class="modal" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                        <h4 class="modal-title" id="myModalLabel"> </h4>
                    </div>
                    <div class="modal-body">
                  
                    <table class="pull-left col-md-8 ">
                         <tbody id="userInfo">
                           
                         </tbody>
                    </table>
                             
                         
                    <div class="col-md-4"> 
                        <img src="http://lorempixel.com/150/150/technics/" alt="teste" class="img-thumbnail">  
                    </div>
                    
                    <div class="clearfix"></div>
                  <!--  <p class="open_info hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> -->
                  </div>
                    
                  <div class="modal-footer">       
                      
                   <!--  <div class="text-right pull-right col-md-3">
                        Varejo: <br/> 
                        <span class="h3 text-muted"><strong> R$50,00 </strong></span>
                    </div> 
                      
                    <div class="text-right pull-right col-md-3">
                        Atacado: <br/> 
                        <span class="h3 text-muted"><strong>R$35,00</strong></span>
                    </div> -->
                    <div class="text-center col-md-12">
                        <h3>Do you validate this invoice?</h3>
                    </div>
                     <div class="text-center col-md-4">
                        <span class="h3 text-muted"><strong><a href="#" class="validate-status">Yes</a></strong></span>
                    </div> 
                    <div class="text-center col-md-4">
                        <div class="form-group">
                            <select class="form-control" id="select-validate" name="select-validate">
                                <option value="validated">validated</option>
                                <option value="not-validated">not validated</option>
                                <option value="waiting-for-validation">waiting for validation</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center col-md-4">
                        <span class="h3 text-muted"><strong><a href="#" data-dismiss="modal">No</a></strong></span>
                    </div>
                    <div style="height: 50px"></div>
                </div>
              </div>
            </div>
            </div>
<!-- fim Modal-->    



<style type="text/css">
	* {
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}
#logo {
color: #666;
width:100%;   
}
#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}
#logo p{
  padding-bottom: 20px;
}


#form-buscar >.form-group >.input-group > .form-control {
    height: 40px;
}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn{
        height: 40px; 
        font-size: 16px;
        font-weight: 300; 
         
       
}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
 margin-right:12px;   
}    


#form-buscar >.form-group >.input-group > .form-control {
    font-size: 16px;
    font-weight: 300;
   
}

#form-buscar >.form-group >.input-group > .form-control:focus {
  border-color: #33A444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}
</style>
</template>