<template name="menu">
	<div id="main-menu" role="navigation">
        <div id="main-menu-inner">

            <ul class="navigation">
                <!-- <li>
                     <a href="charts.html"><i class="menu-icon fa fa-bar-chart-o"></i><span class="mm-text">Charts</span></a>
                 </li>-->

                <li class="mm-dropdown open active">
                    <a><i class="menu-icon fa fa-files-o"></i><span class="mm-text">ADMIN_PAGES</span></a> 
                    <ul> 
                        <li >
                            <a tabindex="-1" href="/cpanel/dashboad"><span class="mm-text">DASHBOAD</span></a>
                        </li>
                       <!--  <li >
                            <a tabindex="-1" href="/cpanel/article"><span class="mm-text">ARTICLE ID</span></a>
                        </li> -->
                         <li >
                            <a tabindex="-1" href="/cpanel/ticket"><span class="mm-text">ALL TICKET</span></a>
                        </li>

                        <li >
                            <a tabindex="-1" href="/cpanel/product"><span class="mm-text">LIST PRODUCT</span></a>
                        </li>
                       <li >
                            <a tabindex="-1" href="/cpanel/amount-payment"><span class="mm-text">AMOUNT PAYMENT</span></a>
                        </li>
                        
                        <li >
                            <a tabindex="-1" href="/cpanel/user"><span class="mm-text">USERS</span></a>
                        </li>
                    </ul>
                </li>
            </ul> <!-- / .navigation -->

        </div> <!-- / #main-menu-inner -->
    </div> <!-- / #main-menu -->
</template>