<template name="pay">
 
 <h1>ksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfngksfehbonfosnogfnsklgnkdfng</h1>

 <button>Payer</button>
</template>