<template name="useredit">
	<div id="content-wrapper">
	    <form  class="panel form-horizontal form-bordered">
			    <div class="panel-heading">
			        <span class="panel-title">EDIT USER_FORM ( {{GetOne.roles.[0]}} )</span>
			    </div>
			    <div class="panel-body">
			    	<input type="hidden" name="userid" value="{{GetOne._id}}">
			    	<input type="hidden" name="userRoles" value="{{GetOne.roles.[0]}}">
			    	<div class="form-group col-lg-12" id="msg-error"></div>
			    	<div class="row form-group">
			            <label class="col-sm-2 control-label">Username:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="name" value="{{GetOne.profile.username}}" class="form-control">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">Email:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="email" value="{{GetOne.emails.[0].address}}" class="form-control">
			            </div>
			        </div>

			    	{{#if IstypeAgency GetOne.roles.[0]}}	
			    		<div class="row form-group">	
							<input type="hidden" name="time" value="{{GetOne.profile.time}}">
							<label class="col-sm-2 control-label">Siret Number</label>
							<div class="col-sm-10">
								<input type="text" name="siretnum" class="form-control" id="" value="{{GetOne.profile.siret_num}}">
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-2 control-label">Contact Name</label>
							<div class="col-sm-10">
								<input type="text" name="contactname" class="form-control" id="" value="{{GetOne.profile.contact_name}}">
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-2 control-label">Phone</label>
							<div class="col-sm-10">
								<input type="text" name="phone" class="form-control" id="" value="{{GetOne.profile.phone}}">
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-2 control-label">Address</label>
							<div class="col-sm-10">
								<input type="text" name="address" class="form-control" id="" value="{{GetOne.profile.address}}">
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-2 control-label">Status</label>
							<div class="col-sm-10">
								<select class="form-control" name="status">
				            		<option value="{{GetOne.profile.status}}" style="display:none">{{GetOne.profile.status}}</option>
				            		<option value="pending">pending</option>
				            		<option value="validated">validated</option>
				            	</select>
							</div>
						</div>
			    	{{/if}}
			    	{{#if IstypeAffiliate GetOne.roles.[0]}}	
			    		<div class="row form-group">
								<label class="col-sm-2 control-label">Family Name</label>
								<div class="col-sm-10">
									<input type="text" name="familyname" class="form-control" id="" value="{{GetOne.profile.familyname}}">
								</div>
						</div>
						<div class="row form-group" style="height: 130px">
								<label class="col-sm-2 control-label" for="dob">Date Of Birth:</label>
							    <div class="col-sm-10">
							        <div class="input-group dobpicker" id="dobpicker">
									    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									    <input class="set-due-date form-control" id="dob" type="text" name="dob" value="{{getHumanDate GetOne.profile.dob}}" />
									</div>
							    </div>
						</div>
						<div class="row form-group">
								<div class="col-sm-2 control-label"><label>Phone</label></div>
								<div class="col-sm-10">
									<input type="text" name="phone" class="form-control" id="" value="{{GetOne.profile.phone}}">
								</div>
						</div>
									<input type="hidden" name="usertype" value="{{GetOne.profile.type}}">
									<input type="hidden" name="numpayment" class="form-control" id="" value="{{GetOne.profile.numpayment}}">
									<input type="hidden" name="affiliate" class="form-control" id="" value="{{GetOne.profile.affiliate}}">
							
			    	{{/if}}
			            	<input type="hidden" name="permission" value="{{GetOne.roles.[0]}}">
			    </div>
		    <div class="panel-footer text-right">
		        <button class="btn btn-primary" id="btn-update">UPDATE</button>
		    </div>
		</form>
    </div>
    <div id="main-menu-bg"></div>
</template>