<template name="useredit">
	<div id="content-wrapper">
	    <form  class="panel form-horizontal form-bordered">
			    <div class="panel-heading">
			        <span class="panel-title">EDIT USER_FORM ( {{GetOne.roles.[0]}} )</span>
			    </div>
			    <div class="panel-body">
			    	<input type="hidden" name="userid" value="{{GetOne._id}}">
			    	<input type="hidden" name="userRoles" value="{{GetOne.roles.[0]}}">
			    	<div class="form-group col-lg-12" id="msg-error"></div>
			    	<div class="row form-group">
			            <label class="col-sm-2 control-label">Username:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="name" value="{{GetOne.profile.username}}" class="form-control">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">Email:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="email" value="{{GetOne.emails.[0].address}}" class="form-control">
			            </div>
			        </div>

			    	{{#if IstypeAgency GetOne.roles.[0]}}
			    		<form class="reg">				
							<div class="col-md-12">
								<input type="hidden" name="time" value="{{GetOne.profile.time}}">
								<div class="col-md-2"><label>Siret Number</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="siretnum" class="form-control" id="" value="{{GetOne.profile.siret_num}}">
								</div>
								<div class="col-md-2"><label>Contact Name</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="contactname" class="form-control" id="" value="{{GetOne.profile.contact_name}}">
								</div>
								<div class="col-md-2"><label>Phone</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="phone" class="form-control" id="" value="{{GetOne.profile.phone}}">
								</div>
								<div class="col-md-2"><label>Address</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="address" class="form-control" id="" value="{{GetOne.profile.address}}">
								</div>
							</div>
						</form>
			    	{{/if}}
			    	{{#if IstypeAffiliate GetOne.roles.[0]}}
			    		<form class="reg">				
							<div class="col-md-12">
								<div class="col-md-2"><label>Family Name</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="familyname" class="form-control" id="" value="{{GetOne.profile.familyname}}">
								</div>
								<label class="control-label col-sm-2" for="dob">Date Of Birth:</label>
							    <div class="col-sm-10">
							        <div class="input-group datetimepicker">
									    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									    <input class="set-due-date form-control" id="dob" type="text" name="dob" value="{{GetOne.profile.dob}}" />
									</div>
							    </div>
								<div class="col-md-2"><label>Phone</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="phone" class="form-control" id="" value="{{GetOne.profile.phone}}">
								</div>
								<div class="col-md-2"><label>User Type</label></div>
								<div class="row form-group col-md-10">
									<select class="form-control" name="usertype">
					            		<option value="{{GetOne.profile.type}}" style="display:none">{{GetOne.profile.type}}</option>
					            		<option value="hajj">Hajj</option>
					            		<option value="omrah">Omrah</option>
					            	</select>
								</div>
								<div class="col-md-2"><label>Payment</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="numpayment" class="form-control" id="" value="{{GetOne.profile.numpayment}}">
								</div>
								<div class="col-md-2"><label>Affiliate</label></div>
								<div class="row form-group col-md-10">
									<input type="text" name="affiliate" class="form-control" id="" value="{{GetOne.profile.affiliate}}">
								</div>
							</div>
						</form>
			    	{{/if}}
			        
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">Permission:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" name="permission">
			            		<option value="{{GetOne.roles.[0]}}" style="display:none">{{GetOne.roles.[0]}}</option>
			            		<option value="admin">Admin</option>
			            		<option value="agency">Agency</option>
			            		<option value="affiliate">Affiliate</option>
			            	</select>
			            </div>
			        </div>
			    </div>
		    <div class="panel-footer text-right">
		        <button class="btn btn-primary" id="btn-update">UPDATE</button>
		    </div>
		</form>
    </div>
    <div id="main-menu-bg"></div>
</template>